<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eightsines.worklifebalance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:label">

        <activity
            android:name=".screen.launcher.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLauncher">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screen.goals.GoalsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screen.goaleditor.GoalEditorActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>
